<h1>
  Palories
  <!-- # <%= link_to 'Palories', controller: 'days' %> -->
  <p>Your new best friend.</p>
</h1>

<br>
<br>
<br>
<br>

<p id="login">
<% if !current_user %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign in", new_user_session_path %>
<% else %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= current_user.email %>
<% end %>
</p>
