<div class="navbar navbar-static-top"><h1>Palories</h1></div>
<div class="row">
<div class="col-sm-4" id="green">Green<a href="/days/new">(+)</a></div>
<div class="col-sm-4" id="yellow">Yellow<a href="/days/new">(+)</a></div>
<div class="col-sm-4" id="red">Red<a href="/days/new">(+)</a></div>
</div>

<div id="display">
    <% @day.each do |day| %>
      <h1>Today<a href="/days/new">(+)</a></h1>
      <h2><%= day.date %></h2>
      <h1>Total Calories<h1>
      <h2 id="grand_total"><%= day.total_calories %></h2>

<p>
    <button type="button" class="btn btn-primary"><%= link_to 'Show', day_path(day) %></button>
    <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_day_path(day) %></button>
    <button type="button" class="btn btn-danger"><%= link_to 'Delete', day_path(day),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></button>
</p>
    <% end %>
</div>
