<div id="header"><h1>Palories</h1></div>
<table>
<tr>
<td><div id="green"> Green <a href="/days/new">(+)</a></div></td>
<td><div id="yellow"> Yellow <a href="/days/new">(+)</a></div></td>
<td><div id="red"> Red <a href="/days/new">(+)</a></div></td>
  <th colspan="3"></th>
</tr>
</table>

<table>
  <tr>
    <th>Date</th>
    <th>Total Calories</th>
    <th colspan="3"></th>
  </tr>

  <% @day.each do |day| %>
  <tr>
    <td><%= day.date %></td>
    <td><%= day.total_calories %></td>
    <td><%= link_to 'Show', day_path(day) %></td>
    <td><%= link_to 'Edit', edit_day_path(day) %></td>
    <td><%= link_to 'Delete', day_path(day),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
