<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Total Calories:</strong>
  <%= @day.total_calories += @meals.calories %>
</p>

<h2>Meals</h2>
<%= render @day.meals %>

<h2>Add a meal:</h2>
<div class="col-sm-4" id="green2">
  <h1>Green<h1>
    <h3>Serving Size<h3>
      <p>Tiny: 25 calories</p>
      <p>Small: 50 calories</p>
      <p>Medium: 100 calories</p>
      <p>Large: 150 calories</p>
      <h3>Examples<h3>
        <ul class="healthy">
          <li>Vegetables</li>
          <li>Fruits</li>
          <li>Whole Wheat Bread</li>
          <li>Tofu</li>
          <li>etc.</li>
        </ul>
      </div>
      <div class="col-sm-4" id="yellow2">
        <h1>Yellow</h1>
        <h3>Serving Size<h3>
          <p>Small: 50 calories</p>
          <p>Medium: 100 calories</p>
          <p>Large: 200 calories</p>
          <p>Extra Large: 300 calories</p>
          <h3>Examples<h3>
            <ul class="good">
              <li>Lean Protein (Chicken, Turkey)</li>
              <li>Avacado</li>
              <li>White Grains</li>
              <li>Full Fat Cheese</li>
              <li>etc.</li>
            </ul>
          </div>
          <div class="col-sm-4" id="red2">
            <h1>Red<h1>
            <h3>Serving Size<h3>
              <p>Small: 50 calories</p>
              <p>Medium: 150 calories</p>
              <p>Large: 300 calories</p>
              <p>Extra Large: 600 calories</p>
              <h3>Examples<h3>
                <ul class="bad">
                  <li>Fried Foods</li>
                  <li>Baked Goods/Pastries</li>
                  <li>Candy</li>
                  <li>Alcohol</li>
                  <li>etc.</li>
                </ul>
              </div>
              <%= render 'meals/form' %>

              <%= link_to 'Edit', edit_day_path(@day) %> |
              <%= link_to 'Back', days_path %>
