<%= form_for([@day, @day.meals.build]) do |f| %>
<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :calories%><br>
  <%= f.text_field :calories%>
</p>
<p>
  <%= f.label :serving_size%><br>
  <%= f.text_field :serving_size%>
</p>
<p>
  <%= f.label :color%><br>
  <%= f.select :color, [['Green', 'green'],['Yellow', 'yellow'],['Red', 'red']] %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
